@tailwind base;
@tailwind components;
@tailwind utilities;

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}




.embla {
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  
  .embla__container {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
  }
  
  .embla__slide {
    flex: 0 0 auto;
    min-width: 0;
  }
  
  .embla__buttons {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: aqua;
    width: 100%;
  }
  
  .embla__button {
    z-index: 1;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid #00000033    ;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
  }
  
  @media(max-width:768px) {
    .embla__button {
      display: none;
    }
  }
  
  .embla__button:disabled {
    opacity: 0.3;
  }
  
  .embla__button__svg {
    width: 65%;
    height: 65%;
  }
  
  .embla__button--prev {
    position: absolute;
    left: 0;
  }
  
  .embla__button--next {
    position: absolute;
    right: 0;
  }






  .star{
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  }
 
  
  #starRadio:checked {
    -webkit-appearance: none;
    /* Remove default radio input styles in Safari/WebKit */
    background-color: #FFA500;
  }
  
  #starRadio:hover {
    -webkit-appearance: none;
    /* Remove default radio input styles in Safari/WebKit */
    background-color: #FFA500;
  }